<h2 align="center">Login</h2>
<div class="row">
  <div class="col s12 offset-s3">
    <%= form_tag '/login' do %>
    <div class="row">
      <div class="input-field col s6">
        <%= label_tag :email %>
        <%= text_field_tag :email %>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s6">
        <%= label_tag :password %>
        <%= password_field_tag :password %>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s6">
        <%= submit_tag "Login" %>
      </div>
    </div>
    <% end %>
    <p>If you're not registered, Kindly <%= link_to "Sign up", new_user_path %></p>
  </div>
</div>
