<% obj.each do |article| %>
	<div class="row">
		<div class="col s12 offset-s3">
      <div>
        <%= link_to 'Create new article', new_article_path %>
      </div>
      <div class="article-title">
        <%= link_to article.title, article_path(article) %>
      </div>
      <div class="article-body">
        <%= truncate(article.description, length: 100) %>
        <div class="article-meta-details">
          <small>Created by: <%= article.user.username if article.user%>,
            <%= time_ago_in_words(article.created_at) %> ago,
            last updated: <%= time_ago_in_words(article.updated_at) %> ago
          </small>
        </div>
      </div>
      <% if current_user == article.user %>
        <div class="article-actions">
          <%= link_to "Edit this article", edit_article_path(article), class: "waves-effect waves-light btn" %>
          <%= link_to 'Read More', article_path(article), class: "waves-effect waves-light btn" %>
          <%= link_to "Delete this article", article_path(article), method: :delete,
              data: { confirm: "Are you sure you want to delete the article?"},	class: "waves-effect waves-light btn" %>
        </div>
      <% end %>
		</div>
	</div>
<% end %>