<div class="row">
  <div class="col s12 offset-s3">
    <%= form_for @user do |f| %>
      <div class="row">
        <div class="input-field col s6">
          <%= f.label :username %>
          <%= f.text_field :username %>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s6">
          <%= f.label :email %>
          <%= f.text_field :email %>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s6">
          <%= f.label :password %>
          <%= f.password_field :password %>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s6">
          <%= f.label :password_confirmation %>
          <%= f.password_field :password_confirmation %>
        </div>
      </div>
      <div class="row">
        <div class="col s6 offset-s2">
          <%= f.submit(@user.new_record? ? "SignUp" : "Update Account", class: "waves-effect waves-light btn") %>
        </div>
      </div>
    <% end %>
  </div>
  <div class="row">
    <div class="col s6 offset-s4">
      <%= link_to '<<Cancel request and return to articles listing', articles_path %>
    </div>
  </div>
</div>